{% extends "master.html" %}

{% block title %}
  Listado de Estudiantes
{% endblock %}

{% block content %}
<h1>{{mititulo}}</h1>
<hr>
<h3>Número de Matriculas {{ numero_matriculas }}</h3>
<hr>
<div class="col-lg-4 col-md-6 col-12">
  <a class="custom-btn" href="{% url 'crear_matricula' %}">nuevo</a>
</div>

<table id="tabla_datos">
  <thead>
    <tr>
      <th><b>Estudiante</b></th>
      <th><b>Módulo</b></th>
      <th><b>Comentario</b></th>
      <th><b>Opciones</b></th>
    </tr>
  </thead>
  {% for e in matriculas %}
  <tr>
    <td>
      {{e.estudiante.nombre}} <br>
      {{e.estudiante.get_tipo_estudiante_display }}
      <a class="bi-person-fill" href="{% url 'detalle_estudiante' e.estudiante.id %}"></a>
    </td>
    <td>
      {{e.modulo.nombre}}
    </td>
    <td>
      {{e.comentario}}
    </td>
    <td>
      <span>
        <a class="bi-eye-fill" href="{% url 'detalle_matricula' e.id %}" title="ver"></a>
        <a class="bi-pencil-square" href="{% url 'editar_matricula' e.id %}" title="editar"></a>
      </span>
    </td>
  </tr>
  {% endfor %}

</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>
{% endblock %}
