{% extends "master.html" %}

{% block title %}
  Ver Módulos
{% endblock %}

{% block content %}
<h1>{{mititulo}}</h1>
<hr>
<h3>Número de Modulos {{ numero_modulos }}</h3>
<hr>
<div class="col-lg-4 col-md-6 col-12">
  <a class="custom-btn" href="{% url 'crear_modulo' %}">Nuevo</a>
</div>
<hr>
<table id="tabla_datos">
  <tr>
    <th><b>Módulo</b></th>
    <th><b>Valor en matrículas($)</b></th>
  </tr>
  {% for m in modulos %}
  <tr>
    <td>
      {{m.get_nombre_display}} <br>
    </td>
    <td>
      {{m.obtener_valor_matriculas}}
    </td>
  </tr>
  {% endfor %}

</table>
<hr>
<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>
{% endblock %}
